html, body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

.header {
    margin-top: 0px;
    background-color: #dee7fe;
    width: 100%;
}

.heading {
    font-size: 130%;
    font-weight: bold;
    padding-left: 190px;
}

.leftbar {
    width: 180px;
    float: left;
    border-right-style: solid;
    border-right-color: #dee7fe;
    border-right-width: 4px;
}

.newlist {
    vertical-align: sub;
}

.rightbar {
}

.viewer {
    height: calc(100% - 40px);
    width: 100%;
    clear: both;
}

.downleftbar {
    height: 100%;
    width: 180px;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: #eae9ee;
}

.downrightbar {
    float: left;
    position: absolute;
    top: 29px;
    left: 184px;
    width: calc(100% - 184px);
}

.downrightbar > .menubar {
    width: 100%;
    background-color: #dedede;
}

.downleftbar > .listheading {
    position: relative;
    top: 0px;
}

.content {
    display: flex;
    flex-direction: column;
}

.rowwrapper.focus {
    background-image: linear-gradient(to right, rgba(255,254,217,1), rgba(255,254,217,0.5));
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #fadb82;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fadb82;
}

.rowwrapper {
    width: 62%;
    height: 1.6em;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
}

.rowhandle {
    position: relative;
    top: 3px;
}

.tasktext {
    width: 90%;
    background-color: transparent;
    border-style: none;
}

.jobdone {
    text-decoration: line-through;
    color: grey;
}
