html, body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

.header {
    margin-top: 0px;
    background-color: #dee7fe;
    width: 100%;
}

.heading {
    font-size: 130%;
    font-weight: bold;
    padding-left: 30px;
}

.leftbar {
    width: 200px;
    float: left;
    border-right-style: solid;
    border-right-color: #dee7fe;
    border-right-width: 4px;
}

.newlist {
    vertical-align: sub;
}

.rightbar {
    margin-left: 200px;
    overflow: hidden;
}

.viewer {
    height: 100%;
    width: 100%;
    clear: both;
}

.downleftbar {
    height: 100%;
    width: 170px;
    float: left;
    position: relative;
    left: -20px;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: #eae9ee;
}

.downrightbar {
    float: left;
    position: relative;
    left: 184px;
}

.downrightbar > .menubar {
    width: 100%;
    background-color: #dedede;
}

.downleftbar > .listheading {
    padding-left: 0px;
}
